@import 'colors';

.app-header {
  background-color: $secondary_color;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 5px 0px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin: 0px;

    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__user {

  }
}
