.app-header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {

  }

  &__user {

  }
}
