@import 'colors';

.session-body {
  padding-top: 20px;

  .session-form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    padding: 10px;

    &__group {
      padding: 5px 0;
    }

    &__input-area {
      label {
        display: inline-block;
        width: 27%;
        vertical-align: top;
      }
    }

    &__input-text {
      box-sizing: border-box;
      border-color: $secondary_color;
      border-radius: 5px;
      display: inline-block;
      outline: 0;
      padding: 5px;
      width: 70%;

      -webkit-appearance: none;
    }

    &__submit-area {
      text-align: center;
    }

    &__submit-button {
      background-color: $accent_color;
      border: 0px;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0,0,0,.26);
      color: $accent_text_color;
      cursor: pointer;
      display: inline-block;
      padding-left: 16px;
      padding-right: 16px;
      width: auto;
    }
  }

}
